@charset "UTF-8";

body { 
    margin: 0; 
    text-align: center; 
    box-sizing: border-box;
}

		.card {
        	background-color: white;
        	border-radius: 20px;
        	padding: 10px 0 25px 0;
        	margin-bottom: 20px;
        	text-align: center;
        	box-shadow: 0 5px 6px rgba(0,0,0,0.2);
        	 }
        .label-red { background-color: #d93333;
        	 color: white;
        	 padding: 2px 5px;
        	 border-radius: 3px; }
        .btn-change {
        	background-color: #d93333;
        	color: white; border: none;
        	padding: 5px 90px;
        	border-radius: 10px;
        	font-size: 1.2rem;
        	}
        .btn-logout { background-color: #3fa938;
        			 color: white;
        			 border: none;
        			 width: 100%;
        			 padding: 10px;
        			 border-radius: 10px;
        			 font-size: 16px; }
        .mydata_text{
        	font-size:1.3rem;
        	font-weight: bold;
        }
