@charset "UTF-8";

/* ページ全体の基本レイアウト設定 */
body { 
	padding-top: 10px;
    margin: 0; 
    text-align: center; 
    box-sizing: border-box;
}

.page-title { 
    font-size: 27px; 
    font-weight: bold; 
    margin-top: 15px;
    margin-bottom: 5px; 
}

/* 質問コンテンツの幅制限と中央寄せ */
.question {
	margin-bottom: 60px;
}
.question-container {
    width: 100%;
    margin: 0 auto;
}

.question-title {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
}

/* 選択肢テキストの配置調整 */
.options-text {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 10px;
}
.options-text p { margin: 10px 0; }

/* 2つのボタンを横並びにするレイアウト */
.btn-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* 選択肢ボタンの共通スタイル */
input[type="radio"] {
	display: none;
	-webkit-tap-highlight-color: transparent;
    outline: none;
}
input[type="radio"]:checked + label {
    background-color: #C82518;
    color: #F9F6EE;
    box-shadow: 0 3px 2px rgba(94, 16, 16, 0.2);
}

label {
	transition: 0.1s;
	-webkit-tap-highlight-color: transparent;
    outline: none;
}

.btn-opt {
    flex: 1;
    max-width: 130px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-color: #ffffff;
    color: #C82518;
}

.button{
	text-align: center;
}