@charset "UTF-8";

/* ページ全体の基本レイアウト設定 */
body { 
    padding-top: 10px;
    margin: 0; 
    text-align: center; 
    box-sizing: border-box;
}

.page-title { 
    font-size: 27px; 
    font-weight: bold; 
    margin-top: 15px;
    margin-bottom: 5px; 
}

/* 結果表示エリアの幅制限と中央寄せ */
.result-container {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
}

.result-hint {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 白い角丸カードのデザイン定義（超角丸スタイル） */
.result-card {
    background-color: #ffffff;
    border-radius: 35px; 
    padding: 25px 20px;
    margin-bottom: 30px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.2);
}

/* 画像表示枠：標準のグレー塗りつぶし背景 */
.burger-img-box {
    width: 100%;
    height: 160px;
    background-color: #d1d5db; 
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}
.burger-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 赤色のおすすめバーガーテキスト */
.burger-title {
    font-size: 24px;
    font-weight: bold;
    color: #C82518; 
    margin: 0;
    letter-spacing: 0.5px;
}

/* もう一度診断するボタン：カプセル型の完全な丸角赤ボタン */
.btn-retry {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin: 0 auto;
    width: 100%;
    max-width: 280px;
    background-color: #C82518;
    color: #ffffff;
    border: none;
    border-radius: 30px; 
    padding: 14px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* バーガー表示 */
.burger {
    position: relative;
    width: 150px;
    margin: 0 auto;
}

.burger img {
    width: 150px;
}

.buns_top {
    top: 0;
    z-index: 999;
}

.buns_bottom {
    z-index: 1;
}

.stack-area {
    position: relative;
    width: 160px;
    min-height: 500px;
    margin: 0 auto;
}