@charset "UTF-8";
.btn-top { background-color: #C82518; color: white; border: none; width: 100%; padding: 20px; margin-top:20px ; border-radius: 40px; font-size: 24px; }

.ViewMymenu{
	background-color: #FFF;
	justify-content: center;
    display: flex;
    align-items: center;
    margin-top:20px ;
    border-radius: 20px;
    padding: 5px 30px 30px 30px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.2);
}

.ViewMymenu form {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-right{
	margin-top: 20px;
    display: flex;
    flex-direction: column; /* 縦に並べる */
    gap: 15px;
    width: 180px;
}

.menu-info {
	margin-bottom: 3px;
}

.name {
	font-size: 1.3rem;
	font-weight: bold;
}

.price {
	font-weight: bold;
	color: #C82518;
	font-size: 1.2rem;
}

.btn-group{
    display: flex;
    gap: 10px; /* 編集と削除を横並び */
    margin-left: auto;
    margin-top: auto;
    width: 180px;
}

.btn-submit{
	background-color: #C82518; color: white; border: none;
	width: 60px;
	height: 35px;
	border-radius: 10px;
	font-size:1.1rem;
	font-weight: bold;
}


.btn-delete{
	background-color: #2B2523; color: white; border: none;
	width: 60px;
	height: 35px;
	border-radius: 10px;
	font-size:1.1rem;
	font-weight: bold;
}

.contest_user {
    display: inline-flex;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.burger {
    position: relative;
    width: 100px;
}

.burger img {
    width: 100px;
    position: relative;
    left: 0;
}

.buns_top {
    top: 0;
    z-index: 999;
}

.buns_bottom {
    z-index: 1;
}

.if_message {
	text-align: center;
}

